# Dependencies
node_modules
/vendor

# Production
/dist
/build

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Laravel specific
/backend-laravel/public/storage
/backend-laravel/storage/*.key
/backend-laravel/storage/pail
.phpunit.result.cache
.phpactor.json
